<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webdemo.springbootdemo.mapper.Applymapper">
    <insert id="applyCourse">
        insert into apply(ID,Cid,cname,appName,nowName,reason,state)
        values (#{id},#{Cid},#{cname},#{appName},#{nowName},#{reason},#{state})
    </insert>

    <select id="applyInfo" resultType="com.webdemo.springbootdemo.bean.Apply">
        select * from apply where appName = #{name}
    </select>
</mapper>