<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webdemo.springbootdemo.mapper.Coursemapper">
    <select id="fCourse" resultType="com.webdemo.springbootdemo.bean.Study">
        select * from study where Sname =#{name}
    </select>

    <select id="findCourse" parameterType="java.util.Map" resultType="map">
        select * from course where 1=1
        <if test="name!='' and name != null">
        and name like '%' #{name} '%'
        </if>
        <if test="type!='' and type != null">
            and type = #{type}
        </if>
        <if test="ranked !='' and ranked != null">
            and ranked = #{ranked}
        </if>
        LIMIT #{first}, #{last}
    </select>

    <select id="CourseNum" parameterType="java.util.Map" resultType="Integer">
        select count(*) as num from course where 1=1
        <if test="name!='' and name != null">
            and name like '%' #{name} '%'
        </if>
        <if test="type!='' and type != null">
            and type = #{type}
        </if>
        <if test="ranked !='' and ranked != null">
            and ranked = #{ranked}
        </if>
    </select>

    <select id="myCourseNum" resultType="Integer">
        select count(*) as num from study where Sname = #{name} and active = #{active}
    </select>

    <select id="myCourse" parameterType="java.util.Map" resultType="map">
        select * from study where Sname = #{name} and active = #{active} LIMIT #{first}, #{last}
    </select>

    <insert id="addCourse">
        insert into course (name,type,ranked,teacher,flag) values (#{name}, #{type}, #{ranked}, #{teacher}, 1);
    </insert>
</mapper>