<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webdemo.springbootdemo.mapper.Personmapper">
    <insert id="register">
        insert into person(name,val,phone,password) values (#{name},#{val},#{phone},#{password})
    </insert>

    <select id="person_Info" resultType="com.webdemo.springbootdemo.bean.Person">
        select * from person where name =#{name}
    </select>

    <select id="login" resultType="String">
        select password from person where name =#{username}
    </select>

    <update id="person_Change">
        update person set val =#{val},age =#{age},sex =#{sex} where name =#{name}
    </update>

    <update id="person_update">
        update person set picture =#{picture} where name =#{name}
    </update>

    <select id="personManager" resultType="com.webdemo.springbootdemo.bean.Person">
        select * from person where 1=1
    </select>
</mapper>